{% extends "layouts/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set fullName = (user.userDetails.firstName + " " + user.userDetails.lastName) if user else "this user" %}
{% set pageHeading = "Reset password" %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: "/" },
      { text: "Users", href: "/users" },
      { text: fullName, href: "/users/" + (user.systemUserId if user else "") }
    ]
  }) }}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorMessage }]
        }) }}
      {% endif %}

      {% if newPassword %}

        {{ govukPanel({
          titleText: "Password reset",
          html: fullName
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-6">New temporary password</h2>

        {{ govukWarningText({
          text: "Note this password down now. It will not be shown again.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukInsetText({
          html: "<p class=\"govuk-body\">Share this temporary password securely with the user. They will be prompted to set a new password on first login.</p><p class=\"govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold\">" + newPassword + "</p>"
        }) }}

        {{ govukButton({
          text: "Return to user",
          href: "/users/" + user.systemUserId,
          classes: "govuk-button--secondary"
        }) }}

      {% elif user %}

        <h1 class="govuk-heading-xl">Reset password</h1>

        <p class="govuk-body">
          Are you sure you would like to reset the password for <strong>{{ fullName }}</strong>?
        </p>

        <p class="govuk-body">A new temporary password will be generated. The user will be required to set a new password on their next login.</p>

        <form method="post" action="/users/{{ user.systemUserId }}/reset-password" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {{ govukButton({ text: "Yes, reset password" }) }}
          {{ govukButton({
            text: "Cancel",
            href: "/users/" + user.systemUserId,
            classes: "govuk-button--secondary"
          }) }}
        </form>

      {% else %}

        <h1 class="govuk-heading-xl">User not found</h1>
        <p class="govuk-body">The user could not be loaded. <a href="/" class="govuk-link">Return to the user list</a>.</p>

      {% endif %}

    </div>
  </div>
{% endblock %}
